#!/usr/bin/env ruby

preprocess do
  # discard drafts FIRST (since they might affect other generated items)
   unless @config[:publish_drafts]
    @items.delete_if { |item| item[:draft] == true || item[:publish] == false }
  end

  # pagination
  # http://stackoverflow.com/a/503201/3274401
  2.upto((articles.length - 1) / @config[:pagination] + 1) do |page_id|
    @items << Nanoc::Item.new(
      "<%= render 'paginate', :page_id => #{page_id} %>",
      {:title => "Page #{page_id}", :extension => 'html'},
      "/page/#{page_id}/"
    )
  end

  @items.push(*generate_ymd_indices)
  @items << feed_item(sorted_articles)

  # atom feeds and article lists by tag
  sorted_tags.each do |tag|
    @items << Nanoc::Item.new(
      "<%= render 'tag_list', :tag => \"#{tag}\" %>",
      {:title => "Tag - #{tag}", :kind => 'fixed', :extension => 'html'},
      "/tag/#{tag}/"
    )
    @items << feed_item(
      for_tag(sorted_articles, tag),
      @config[:title] + ' - ' + tag,
      "/tag/#{tag}/feed/"
    )
  end
end



compile '*' do
  if item[:extension] == 'md' || item[:extension] == 'html'
    # note the trim mode (discards trailing newline after ERB tag)
    # useful for erb in markdown
    filter :erb, :trim_mode => '-'

    if item[:extension] == 'md'
      filter :redcarpet, :renderer => HTMLPantsCode,
        :options => {
          :fenced_code_blocks => true,
          :tables => true,
          :strikethrough => true
        }

      # to use pygments, set ":default_colorizer => :pygmentsrb"
      filter :colorize_syntax, :default_colorizer => :coderay,
        :coderay => {
          :line_numbers => nil,
          :line_number_anchors => false,
          :bold_every => false
        }

      snapshot :render_md # currently equivalent to :pre
    end

    if item[:kind] == 'article'
      layout 'article'
    elsif item[:kind] == 'fixed'
      layout 'fixed'
    end

    # any item whose route is expected to be nil should
    # be matched here (to exclude its default layout)
    unless item[:kind] == 'tag'
      layout 'default'
      filter :relativize_paths, :type => :html
    end
  elsif item[:extension] == 'atom'
    filter :erb
  end
end



route '/404' do
  '/404.html'
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  elsif item[:kind] == 'tag'
    nil
  elsif item[:extension] == 'css'
    item.identifier.chop + '.css'
  elsif item[:extension] == 'atom'
    item.identifier.chomp('feed/') + 'atom.xml'
  elsif item[:kind] == 'article'
    # jekyll-style permalinks for posts
    attribute_to_time(item[:created_at]).strftime('/%Y/%m/%d/') + u(item[:title]) + '/index.html'
  else
    item.identifier + 'index.html'
  end
end

layout '*', :erb
